<!DOCTYPE html>
<html>
<head>
	<title>Progress List</title>
	<link rel="stylesheet" type="text/css" href="styles/main.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script type="text/javascript" src="scripts/app.js"></script>
	<script type="text/javascript" src="scripts/controllers/main.js"></script>
	<script type="text/javascript" src="scripts/services/data.js"></script>
</head>

<body ng-app="progressListApp">
	<h1>To-Do Progress</h1>

	<div ng-controller="mainCtrl" class="list">
		<div ng-repeat="task in tasks" ng-class="{'editing-content': editing}">
			<input ng-model="task.completed" type="checkbox"/>
			<label ng-hide="editing" ng-class="{'edited-content': task.edited}" class="edit">{{task.name}}</label>
			<input ng-show="editing" ng-change="task.edited = true" ng-blur="editing = false" ng-model="task.name" class="edit" type="text"/>

			<div class="actions">
				<a href="" ng-click="editing = true">edit</a>
				<a href="" ng-click="editing = false; saveTask(task)">save</a>
				<a href="" ng-click="deleteTask(task, $index)">delete</a>
			</div>
		</div>
		<br>
		<div class="add">
			<input type="button" ng-click="addTask()" name="new-task" value="+"/>
		</div>
	</div>
</body>
</html>