<!DOCTYPE html>
<html>
<head>
	<title>Progress List</title>
	<link rel="stylesheet" type="text/css" href="styles/main.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script type="text/javascript" src="scripts/app.js"></script>
</head>

<body ng-app="progressListApp">
	<h1>To-Do Progress</h1>

	<div ng-controller="mainCtrl" class="list">
		<div ng-repeat="todo in todos" ng-class="{'editing-content': editing}">
			<input ng-model="todo.completed" type="checkbox"/>
			<label ng-hide="editing" ng-class="{'edited-content': todo.edited}" class="edit">{{todo.name}}</label>
			<input ng-show="editing" ng-change="todo.edited = true" ng-blur="editing = false" ng-model="todo.name" class="edit" type="text"/>

			<div class="actions">
				<a href="" ng-click="editing = true">edit</a>
				<a href="" ng-click="editing = false">save</a>
				<a href="">delete</a>
			</div>
		</div>
	</div>
</body>
</html>