<div class="list">
	<div class="task" ng-repeat="task in tasks | orderBy: 'completed'" ng-init="task.edited = false; task.completed = (task.completed == true) ? true : false;" ng-class="{'editing-content': editing}">
		<!-- <div class="checkbox-div"> -->
			<input class="checkbox" ng-model="task.completed" ng-click="task.edited = true" type="checkbox"/>
		<!-- </div> -->
		<!-- <div class="item-div"> -->
			<label class="task-label" ng-hide="editing" ng-click="editing = true" ng-class="{'edited-content': task.edited, 'completed-content': task.completed}">{{task.name}}</label>
			<input class="edit-field" type="text" maxlength="60" ng-model="task.name" ng-show="editing" ng-change="task.edited = true" ng-blur="editing = false"/>
		<!-- </div> -->
		<div class="actions">
			<a href="" ng-click="editing = !editing">edit</a>
			<a href="" ng-click="editing = false; saveTask(task)">save</a>
			<a href="" ng-click="deleteTask(task, $index)">delete</a>
		</div>
		<br/>
	</div>
	<br/>
	<div class="configure">
		<input type="button" ng-click="addTask()" name="new-task" value="+"/>
		<input type="button" ng-click="saveTasks()" name="save-tasks" value="Save All"/>
	</div>
</div>