#main {
	width: 800px;
	margin: 0 auto;
	font-size: 20px;
	font-family: 'Hind Guntur', sans-serif;
	font-weight: bold;
}

h1 {
	font-size: 2em;
}

#title {
	width: inherit;
	height: 80px;
	line-height: 100px;
	vertical-align: middle;
	text-align: center;
	background-color: #6C7A89;
	color: #FFFFFF;
	border-radius: 10px 10px 10px 10px;
}

.task {
	width: inherit;
	height: 40px;
	padding-top: 10px;
	padding-right: 15px;
	padding-left: 10px;
	padding-bottom: 10px;
}

.checkbox, .task-label, .edit-field {
	float: left;
}

.checkbox {
	width: 20px;
	height: 40px;
	margin-right: 10px;
	margin-top: 0px;
}

.task-label, .edit-field {
	padding-left: 15px;
	padding-right: 15px;
}

.task-label {
	width: 550px;
	height: 40px;
	line-height: 47px;
	vertical-align: middle;
	color: #FFFFFF;
	background-color: #95A5A6;
	border-radius: 5px 5px 5px 5px;
}

.edit-field {
	font-size: 18px;
	width: 537px;
	height: 30px;
}

.actions {
	float: right;
}

.editing-content {
	box-shadow: teal;
}

.edited-content {
	color: teal;
}

.completed-content {
	color: grey;
}

.configure {
	float: none;
	text-align: center;
}